# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
java/leafagent/TestCode.java
java/leafagent/TestClass.java
java/leafagent/TestClass1.java
/app/src/test/resources/logTest.json
/.vscode/
/.javadoc/
/.idea/
/gradle.properties
/keystore.jks
/secring.gpg
/agent/src/test/resources/
